@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  @apply bg-slate-400;
  border-radius: 10px;
}
